/*********************************************/
/*    hoja de estilo de burritos.html              */
/* autor: antonio lorenzo caano jimenez            */
/* version: 1.0                                   */
/*fecha: octubre 2023                            */
/*comentarios: ejercicio para portfolio(I)      */
/***********************************************/
@font-face {
  font-family:textotitulo;
  src: url(../fonts/Lusiana.OTF.otf);
}
@font-face {
  font-family:Texto2;
  src: url(../fonts/SFCartoonistHand.ttf);
}

* {box-sizing: border-box; }
body {background-image: url("../img/burrito.ultimamodificación.jpeg");
      font-family:Texto2;
      
      font-size: 1.5em;}
#wrapper {background-color: #FFFFFF;
  box-shadow:1px 70px 70px 1px whitesmoke;
  width: 80%;
  margin:auto;
  padding:3%;
}
h1{font-family:textotitulo;
      text-align: center;                           
      border-bottom: 2px solid rgb(222, 95, 106);         
      width: 60%;
      margin: auto;
      padding: 10px;
      margin-bottom: 40px;}                            

h2{font-family:Texto2;
    text-align: center ;
    border-bottom: 2px solid rgb(222, 95, 106);
    width: 35%;
    padding: 10px;
    margin-bottom: 40px;}
h1{font-size:3.5em;}
h2{font-size:2.5em;}
ul,ol, dl {margin:0 5%;}
div.gallery{
  float: right;
  box-shadow:20px 70px 70px 20px whitesmoke;
  margin: auto;
}
#alergenos{
  border-collapse: collapse;
  border: 1px solid;
  
}
#alergenos td, #alergenos th{
  border: 1px solid #ddd;
  padding: 10px;
}
#alergenos tr:nth-child(even){background-color: antiquewhite;}
