@font-face{
        font-family: texto1;
        src:url(../fonts/Crucial\ Noise.otf);
        
}
@font-face{
        font-family: texto2;
        src:url(../fonts/Deicide\ Remain.otf);
        
}

.textoPrincipal{
        position: absolute;
        top: 810px;
        left: 580px;
        text-align: center;
        font-family: texto1;
        color: rgb(230, 138, 0);
        margin: 0;
        padding: 0;
        padding: 5vh 0px;
        font-size: 85px;
        animation: cambioColor 5s infinite alternate;
}
.textoSecundario{
        position: absolute;
        top:5px;
        left: 50px;
        text-align: center;
        font-family: texto2;
        color: orange;
        margin: 0;
        padding: 0;
        font-size: 60px;

}
@keyframes cambioColor {
        0% {
                color: rgb(230, 138, 0);
        }
        25% {
                color: rgb(255, 251, 0);
        }
        50% {
                color: rgb(255, 0, 0);
        }
        75% {
                color: rgb(124, 252, 0);
        }
        100% {
                color: rgb(231, 39, 231);
        }
}
body{background-color:#1C1816;}

#scenario {background-image:url(../img/Halloween-Wallpaper-Graphics-81227404-1.jpg);
                width: 1575px;
                height: 1050px;
                margin: auto;
                background-repeat:no-repeat;
                background-position: center;
                position:relative;}




/***************witch area*********/
#tree {width:80px;
        height:300px;
        /*border: 2px solid white*/;
        position:absolute;
        top:500px;
        left:1500px;}   
/***********caballo fantasma area**/
#ghosthorse{position:absolute;
        height:80px;
        top:600px;
        left:1350px;
        visibility:hidden;
        }       

/***************pumpkin area*********************/
#pumpkin{width: 150px;
        height: 110px;
        /*border: 2px solid white*/;
        position:absolute;
        top:800px;
        left:50px;}  
/*************pinkfire***********************/       
#spider {position:absolute;
        top:550px;
        left:30px;
        visibility:hidden;}        /*para esconder algo*/

/**********moon area*********************/
#moon {width: 200px;
        height:200px;
        /*border: 2px solid white*/;
        position: absolute;
        top:300px;
        left:340px;}

/********witch area*******************/
#witch{position:absolute;
        height: 100px;
        top:320px;
        left:360px;
        visibility:hidden;
        } 
        
/*********tree area**********/
#tree2 {width:380px;
        height:450px;
        /*border: 2px solid white*/;
        position:absolute;
        top:10px;
        left:1200px;} 

/********ArañaMovimiento***/
#arañaMovimiento {position:absolute;
                top:45px;
                left:1050px;
                visibility:hidden;} 






