#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.texto{
    position: absolute;
        top: 810px;
        left: 580px;
        text-align: center;
        font-family: texto1;
        color: rgb(245, 244, 242);
        margin: 0;
        padding: 0;
        padding: 5vh 0px;
        font-size: 85px;
        
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

button{
    font-size: 30px;
    padding: 15px;
    font-weight: bolder;
    border: 3px solid white;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    color: black;
}
button:hover{
    transform: scale(1.05);
    background-color: transparent;
    color: white;
}
